@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Raleway;
}

header {
    background-color: #1a1a1a;
}

.container-header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex-grow: 0;
}

.padding-0 {
    padding: 0
}

.menu .navbar-nav{
    align-items: center;
}

.menu-button{
    border: none;
    background-color: white;
    margin-right: 10px;
}

.menu-button:focus{
    box-shadow: none;
}

.logo {
    font-weight: 700;
    color: white;
    margin-left: 10px;
}

.navbar-nav{
    gap: 15px;
    text-transform: uppercase;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

header a:hover, header .logo:hover{
    color: #dc3545;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1, #hero h2 {
    color: white;
    font-size: 30px;
}

#sobre-mi img {
    width: 50vw;
    max-height: 100vh;
}

#sobre-mi .texto {
    text-align: center;
    padding: 20px 20px 0px 20px;
}

#sobre-mi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mis-proyectos {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

#mis-proyectos h2 {
    padding: 20px;
}

.card {
    width: 300px;
}

.btn {
    font-weight: 700;
}

#mis-proyectos .programas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
}

#habilidades img {
    width: 50vw;
    max-height: 100vh;
}

#habilidades .texto {
    padding: 20px 20px 0px 20px;
    text-align: center;
}

#habilidades {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contacto {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
}

#contacto h2 {
    padding: 20px 20px 0px 20px;
}

.redes img {
    width: 155px;
    margin: 20px;
}

.redes img:hover {
    filter: brightness(70%);
}

footer {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #909090
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 10px
}

footer div a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
}

footer div a:hover {
    color: white;
}

@media (max-width: 767.98px) { 
    .menu{
        position: absolute;
        top: 75px;
        background-color: #1a1a1a;
        width: 100vw;
        flex-grow: 0;
        align-items: center;
        padding-bottom: 10px;
    }

    #sobre-mi {
        display: flex;
        flex-direction: column;
    }

    #sobre-mi img {
        width: 100vw;
    }

    #habilidades {
        flex-direction: column;
    }

    #habilidades img {
        width: 100vw;
    }

    #sobre-mi .texto, #habilidades .texto, #contacto {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .card p {
        display: none;
    }
}